.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.title-content {
    width: auto;
    font-family: 'Indie Flower', cursive;
    font-size: 4rem;
    text-align: center;
    box-shadow: 12px 6px 7px 4px rgba(0, 0, 0, 0.5),
                inset 4px 2px 5px 2px rgba(100, 100, 100, 0.4);
    background: linear-gradient(to right, lightblue 0%, blue 50%, darkblue 100%);
    font-weight: 700;
    letter-spacing: 5px;
    color: whitesmoke;
    border-radius: 0 15% 0 15%;
    cursor: pointer;
    padding: 5px;
    transition: border-radius 0.3s, background 0.3s;
}

.title-content:hover {
    background: linear-gradient(to right, darkblue 0%, blue 50%, lightblue 100%);
    border-radius: 15% 0 15% 0;
}

.welcoming-container {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.welcoming-content {
    font-family: 'Bangers', cursive;
    font-size: 2rem;
    color: darkblue;
    padding: 10px;
    box-shadow: 1px 1px 10px 7px rgba(0, 255, 85, 0.5);
}

.purp {
    color: purple;
}

.green {
    background: linear-gradient(to bottom, #56B870 0%, #a5c956 100%);
}

/* Fonts */
@font-face {
    font-family: "Indie Flower";
    src: url("../fonts/Indie Flower/Indie Flower.woff2") format("woff2"),
         url("../fonts/Indie Flower/Indie Flower.woff") format("woff"),
         url("../fonts/Indie Flower/Indie Flower.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Bangers";
    src: url("../fonts/Bangers/Bangers.woff2") format("woff2"),
         url("../fonts/Bangers/Bangers.woff") format("woff"),
         url("../fonts/Bangers/Bangers.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
